body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: ("construction.jpg");
    background-color: rgba(222, 222, 222, 0.9); /* Semi-transparent black overlay */
    background-blend-mode: overlay; /* Blends image with color */
  }

  h1, h2 {
    text-align: center;
  }

  p[id="turner-link"], a[id="turner-link"] {
    text-align: center;
    font-size: x-large;
  }

  a[id="turner-link"] {
    color: #681d13;
  }
